<h1>My Apps</h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Url</th>
		</tr>
	</thead>
	<tbody>
		<% @applications.each do |app| %>
			<tr>
				<td><%= link_to app.name, application_path(app) %></td>
				<td><%= app.url %></td>
				<td><%= link_to "Delete", app, method: :delete %></td>
			</tr>
		<% end %>
	</tbody>
</table>


