<h1>Applications#show</h1>
<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Url</th>
		</tr>
	</thead>
	<tbody>
			<tr>
				<td><%= @application.name %></td>
				<td><%= @application.url %></td>
			</tr>
	</tbody>
</table>
